.cartFlex {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}

.deleteButton {
    position: absolute;
    left: 0;
    background-color: transparent;
    border: none;
    color: black;
}

.deleteButton:hover {
    background-color: lightgrey;
    box-shadow: 0 0 20px 5px lightgrey;
}

.itemWidth {
    width: 100px;
    text-align: center;
}

.cartFlex .imgContainer {
    height: 100px;
}

.cartFlex .imgContainer img {
    height: 100%;
    margin: 0 auto;
}
