body {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif; /* Change this */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #121212;  /* Change this */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  rgba(255, 255, 255, .87);   /* Change this */
}

section,
footer,
header,
main,
nav {
    display: block;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: #495fef; /* Change this */
    text-decoration: none;
    background-color: transparent;
}

h1, 
h2,
h3,
h4 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

p {
    margin: 0 auto;
}

button {
    outline: none;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.ul-defaults-none {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    font-weight: 700;
    min-width: 175px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1.63px;
    transition: 0.4s;
    height: 65px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 32px 54px rgba(3, 3, 3, 0.12); /* Change this */
}

.btn:hover {
    background-color: rgb(59, 62, 64); /* Change this */
    box-shadow: 0 0 20px 5px rgb(59, 62, 64); /* Change this */
}

.btn:not(:disabled):not(.disabled),
button:not(:disabled):not(.disabled) {
    cursor: pointer;
}


.btn-primary,
.btn-primary a { /* Change this */
    color: #fff;
    background-color: #bb86fc;
    border-color: #bb86fc;
}

.round-pill {
    border-radius: 50rem;
}

.header-lg {
    font-size: 5rem;
    letter-spacing: -2.5px;
    line-height: 1.05;
}

.header-md {
    font-size: 3rem;
    letter-spacing: -2px;
}

.header-sm {
  font-size: 1.5rem;
  letter-spacing: -1.5px;
}

.caption {
    font-size: 1.3125rem;
    line-height: 1.5;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.background {
    /* background-color: #f0f0f0; */
    background-color: #121212;
}